@model DataAccess.Models.OrderModel

@using (Html.BeginForm(null, null, FormMethod.Post))
{
@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @Model.Code
    </h1>
    <div class="pull-right">
        <a class="btn bg-blue" href="@Html.Raw(Url.Action("List"))"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        @if (!Model.Canceled)
        {
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="ContinueEditing" value="true" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save and edit
            </button>
            if (!Model.ApproverId.HasValue)
            {
                <span id="button-approve" class="btn bg-green-active">
                    <i class="fa fa-check-circle-o"></i>
                    Approve
                </span>
                <span id="button-cancel" class="btn bg-orange">
                    <i class="fa fa-trash-o"></i>
                    Cancel
                </span>
            }
            else if (!Model.IsHasInvoice)
            {
                <span id="button-invoice" class="btn bg-green-active">
                    <i class="fa fa-address-book"></i>
                    Make invoice
                </span>
                <span id="button-cancel" class="btn bg-orange">
                    <i class="fa fa-trash-o"></i>
                    Cancel
                </span>
            }
        }
        else
        {
            <span id="button-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Delete
            </span>
        }

    </div>
</div>

@Html.Partial("_CreateOrUpdate", Model)
}
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            @using (Html.BeginForm("Delete", "Order", new { id = Model.Id }))
            {
                <div class="modal-body">
                    <p>Do you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No! Thanks.</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="approve-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            @using (Html.BeginForm("Approve", "Order", new { id = Model.Id }))
            {
                <div class="modal-body">
                    <p>Do you want to approve?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No! Thanks.</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="cancel-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            @using (Html.BeginForm("Cancel", "Order", new { id = Model.Id }))
            {
                <div class="modal-body">
                    <p>Do you want to cancel?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No! Thanks.</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="invoice-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            @using (Html.BeginForm("CreateInvoice", "Order", new { id = Model.Id }))
            {
                <div class="modal-body">
                    <p>Do you want to make invoice for this order?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No! Thanks</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $("#button-delete").click(function() {
        $("#delete-modal").modal("show");
    });
    $("#button-approve").click(function () {
        $("#approve-modal").modal("show");
    });
    $("#button-cancel").click(function () {
        $("#cancel-modal").modal("show");
    });
    $("#button-invoice").click(function () {
        $("#invoice-modal").modal("show");
    });
</script>

